@inject IProductService ProductService


@if (ProductService.Products == null || ProductService.Products.Count == 0)
{
    <span>Loading Products...</span>
}
else
{
    <ul class="list-unstyled">
        @foreach (var Product in ProductService.Products)
        {
            <li class="media my-3">
                <div class="midea-ima-wrapper mr-2">
                    <a href="#">
                        <img class="media-img" src="@Product.ImageUrl" alt="@Product.Title" />
                    </a>
                </div>
                <div class="media-boddy">
                    <a href="#">
                        <h4 class="mb-0">@Product.Title</h4>
                    </a>
                    <p>@Product.Description</p>
                    <h5 class="price">
                        $@Product.Price
                    </h5>
                </div>
            </li>
        }
    </ul>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }
}
